html{
    font-family: sans-serif;
}
body{
    margin:0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #2A254B;
}

select{
    color: #2A254B;

font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}