/*Header*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 26px;
  padding-bottom: 26px;
  border-bottom: 1px solid #ebe8f4;
}
/*Logo*/

.logo {
  color: #22202e;
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 149px;
}

/*Head menu*/

.nav-menu {
  display: inline-flex;
  flex-direction: row;
  gap: 44px;
}

.nav-menu-item {
  color: #726e8d;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*Action menu*/

.action {
  margin-left: auto;
  display: inline-flex;
  gap: 16px;
}

.action-list {
  width: fit-content;
  height: fit-content;
}

.action-item {
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.action-search {
  background-image: url("/img/search.svg");
}
.action-bascket {
  background-image: url("/img/shopping--cart.svg");
}
.action-profile {
  background-image: url("/img/user--avatar.svg");
}

/*Section header*/
.container-header {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 48px;
  row-gap: 32px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 5px;
}

.title-header {
  grid-column: 1/3;
  justify-self: center;
  color: #2a254b;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 140%; /* 50.4px */
  margin-top: 80px;
  margin-bottom: 0px;
}

.filter-header {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: fit-content;
}

.filter-select {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  border: none;
}

.filter-option {
  color: #2a254b;

  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}


.sorting-header{
  justify-self: end;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;

}

.sorting-label{
  color: #2A254B;
font-family: sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}

.sorting-select{
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  border: none;
}

/*Listing*/

.container-listing{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 20px;
  row-gap: 48px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;

}

.product-img{
  display: block;

}

.product-title{
  color: #2A254B;
  margin-top: 28px;
  margin-bottom: 0;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}

.product-price{
  color: #2A254B;
  margin-top: 8px;
  margin-bottom: 0;
font-family: sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}

.btn-view-more{
  display: block;
  grid-column: 2/4;
  justify-self: center;
  padding: 16px 32px;
  border:none;
  background: #F9F9F9;
  margin-bottom: 40px;

  color: #2A254B;

font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
cursor: pointer;
}

/*Newleter*/

.newsleter{
  display: flex;
  flex-direction: row;
  min-width: 1280px;

}

.newsleter-img{
  display: block;
  min-height: 521px;
  flex-basis: 50%;
  background-image: url("../img/img-newsleter.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.newsleter-join{
  display: block;
  box-sizing: border-box;
  padding-top: 71px;
  padding-left: 49px;
  padding-right: 49px;
  padding-bottom: 70px;
  flex-basis: 50%;
}
.nl-head{
color: #2A254B;
font-family: sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 0;
margin-bottom: 21px;
}

.nl-title{
  width: 470px;
  color:#2A254B;
font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
margin:0 ;

}

.btn-sing-up{
  display: inline-block;
  margin-left: 23px;
  padding: 16px 32px;
  margin-top: 216px;
  background: #2A254B;
  color: #fff;

}

/*Footer*/

.footer{
  background: #2A254B;
}


.container-footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 48px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 58px;
}

.footer-menu{
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  justify-content: space-between;
}

.footer-menu-art{
  display: flex;
  flex-direction: column;
  
}

.footer-menu-title{
  color:  #FFF;
font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer-menu-ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-menu-item{
  color:  #FFF;
font-family: sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer-map{
  background-image: url("../img/map.png");
}

.footer-copy-social{
  display: flex;
  flex-direction: row;
  grid-column: 1/3;
  justify-content: space-between;
  border-top:1px solid #4E4D93;
  padding-top: 25px;
  padding-bottom: 24px;
}

.copyright{
  margin: 0;
color:  #FFF;
font-family: sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.social-menu{
  display: flex;
  flex-direction: row;
  gap:24px;
}

.social-menu-list{
  display: block;
  width: fit-content;
  height: fit-content;
}

.social-menu-item{
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.linkedin{
  background-image: url("../img/logo--linkedin.svg");
}

.facebook{
  background-image: url("../img/logo--facebook.svg");
}

.instagram{
  background-image: url("../img/logo--instagram.svg");
}

.skype{
  background-image: url("../img/logo--skype.svg");
}

.twitter{
  background-image: url("../img/logo--twitter.svg");
}

.pinterest{
  background-image: url("../img/logo--pinterest.svg");
}